.search-box{
    display: block;
   background-color: white;
    color: rgb(129, 124, 124);
    border-style: solid; 
    border-color: darkgrey;
    font-family: sans-serif;
    font-weight:bold ;
    border-radius: 3px;
    margin-bottom: 0px;
}
.search{
    background-color: white;
    color: rgb(129, 124, 124);
    border-style: solid; 
    border-color: darkgrey;
    font-family: sans-serif;
    font-weight:bold ;
    border-radius: 3px;
    margin-top: 3px;
}

.customer{
    width: 200px;
    display: inline-block;
    padding-right: 5px;
    vertical-align: middle;
}

.Yes-btn,.No-btn{
    background-color: white;
    border-color: darkgray;
    font-family: sans-serif;
    border-style:solid ;
    padding: 2px 8px;
    border-radius: 3px;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 300px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.google-png{
    margin-top: -65px;
    width: 700px;
    background-color: white;
    color: rgb(95, 84, 84);
    font-weight: bold;
    border-style: solid;
    padding-top: 10px ;
    padding-bottom: 10px;
    padding-left: 15px;
    border-radius: 20px;
    box-shadow: 0 1px 5px rgba(0, 0,0, 0.25);
}
.name1{
    width: 120px;
    background-color: white;
    font-weight: bold;
    font-family: sans-serif;
    border-style: solid;
    border-color: rgb(214, 204, 204);
    border-radius: 5px;
    padding:7px 7px;
    margin-right: -1px; 
}
.name2{
    width: 120px;
    background-color: white;
    font-weight: bold;
    font-family: sans-serif;
    border-style: solid;
    border-color: rgb(214, 204, 204);
    border-radius: 5px;
    padding:7px 7px;     
}
.email2{
    width: 242px;
    background-color: white;
    font-weight: bold;
    font-family: sans-serif;
    border-style: solid;
    border-color: rgb(214, 204, 204);
    border-radius: 5px;
    padding:7px 7px; 
    display:block ;
    margin-top: 7px;  
}
.sign{
    background-color: rgb(89, 89, 255);
    color: white;
    border:none ;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: bold;
    width: 242;
    margin-top: 7px;
    padding: 7px 7px;
}
.ride{
    font-family:  Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.location{
    width: 300px;
    background-color: whitesmoke;
    font-weight: bold;
    font-family: sans-serif;
    border: none;
    border-radius: 5px;
    padding:7px 7px; 
    display:block ;
    margin-bottom: 0px;
}
.destination{
    width: 300px;
    background-color: whitesmoke;
    font-weight: bold;
    font-family: sans-serif;
    border:none;
    border-radius: 5px;
    padding:7px 7px; 
    display:block ;
    margin-top: 3px;
}

.request{
    background-color: black;
    color: white;
    border:none ;
    font-family: sans-serif;
    font-weight: bold;
    width: 120px;
    margin-top: 25px;
    padding: 10px 7px;
    margin-right: 7px;
}

.Schedule{
    background-color: whitesmoke;
    color: black;
    border:none ;
    font-family: sans-serif;
    font-weight: bold;
    width: 150px;
    margin-top: 25px;
    padding: 10px 7px;
}

.google-search{
    background-color: rgb(219, 217, 217);
    border: none;
    font-size: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
    display: inline-block;
}
.Lucky{
    background-color: rgb(219, 217, 217);
    border: none;
    font-size: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
}
.container2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container3{
    display: flex;
    justify-content: center;
    align-items: center;
}